<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_w_sw_attack_02_0000.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{0,0},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0001.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{196,0},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0002.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{392,0},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0003.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{588,0},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0004.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{784,0},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0005.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{0,196},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0006.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{196,196},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0007.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{392,196},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0008.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{588,196},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0009.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{784,196},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0010.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{0,392},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0011.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{196,392},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0012.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{392,392},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0013.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{588,392},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0014.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{784,392},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0015.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{0,588},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0016.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{196,588},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0017.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{392,588},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0018.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{588,588},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0019.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{784,588},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0020.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{0,784},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0021.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{196,784},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0022.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{392,784},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0023.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{588,784},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0024.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{784,784},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0025.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{0,980},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0026.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{196,980},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0027.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{392,980},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0028.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{588,980},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0029.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{784,980},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0030.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{0,1176},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0031.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{196,1176},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0032.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{392,1176},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0033.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{588,1176},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0034.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{784,1176},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0035.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{0,1372},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0036.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{196,1372},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0037.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{392,1372},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0038.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{588,1372},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0039.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{784,1372},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0040.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{0,1568},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0041.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{196,1568},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0042.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{392,1568},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0043.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{588,1568},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_w_sw_attack_02_0044.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{784,1568},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fightAnim.png</string>
            <key>size</key>
            <string>{980,1764}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac0d779a29e0890572135a2a14039def:ad4ab7cab2401b7aaba675f0f5c8af9a:cb88b3440a6a044e47ea03cd4fe1a942$</string>
            <key>textureFileName</key>
            <string>fightAnim.png</string>
        </dict>
    </dict>
</plist>
